<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .a {
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
        }
        
        .a1 {background-color: #ff0000;}
        </style>

    <title>Dummy Web: Docking Bike Events</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="refresh" content="5">
</head>
<body>
    <table>
        <thead>
            <tr>
                <th> Bike Nº </th>
                <th> Dock </th>
                <th> Dummy button </th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${bikes.empty}">
                <td colspan="2"> No bikes in use </td>
            </tr>
            <tr th:each="bike : ${bikes}">
                <td><span th:text="${bike.getBikeId()}"></span></td>
                <td><input type="number" min="0" th:field="*{bike.getDockId()}"/></td>
                <td>
                    <a th:href="@{/dummy/close/dock/{dockId}/bike/{bikeId}(dockId = ${bike.getDockId()}, bikeId = ${bike.getBikeId()})}" class="a a1">CLOSE</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>